@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

/*general stinky*/
html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'DM Sans', sans-serif;
    overflow-x: hidden;
    text-align: center;
    margin:0px;
    padding:0px;
    font-size: 18px;
}

/*inside content div stinky*/

.header {
    background-color: #ebf0ef;
    margin: 0px;
    padding:1em;
}

img {
    width:100%;
    display:inline-block;
    border: solid 1px black;
}

.intro {
    margin:auto;
    width:50%;
    margin-bottom: 30px;
}

.intro p {
    text-align: justify;
    margin-bottom: 30px;
}

hr {
    width:65%;
    margin: auto;
    border:none;
    border-top: solid 1px black;
    margin-top:50px;
}

/*inside form stinky*/

form {
    padding: 0px;
    margin:auto;
}

.form-area {
    margin:0px;
}

.questions {
    margin: 45px auto 55px;
    max-width: fit-content;
}

p a {
    text-decoration: none;
    font-weight: 500;
    color:black;
}

p a:hover {
    text-decoration: underline;
}

.q {
    margin: 35px 0px 35px;
    text-align: left;
    padding:0px;
}

.q p {
    font-weight: 500;
    margin-bottom:10px;
    font-size: 20px;
}

input {
    font-size: 18px;
}

label {
    font-weight: 400 !important;
    padding-left:10px;
    margin-bottom: 20px;
}

.radios {
    margin:auto;
    width:fit-content;
    margin-top: 10px;
}

.radios label {
    float: left;
    padding: 0 1em;
    text-align: center;
}

input[type="radio"], input[type="checkbox"]{
    filter: grayscale(1);
}


.box-style {
    border: solid 1px #d7d7d7;
    border-radius: 0px;
    font-family: inherit;
    resize:none;
    font-size:inherit;
    padding:5px 10px;
}

.box-style:focus {
    outline: none !important;
    border-radius: 0px;
    border: solid 1px black;
}

select {
    padding: 5px 10px;
    border: solid 1px #d7d7d7;
    border-radius: 0px;
    font-family: inherit;
    font-size:inherit;
}

select:focus {
    outline: none !important;
    border-radius: 0px;
    border: solid 1px black;
}

option {
    font-size:inherit;
    font-family: inherit;
}

option:disabled {
    color:#a9a9ac;
}

textarea {
    width: 95%;
}

.comments {
    margin-top: 50px;
    margin-bottom: 30px;
}

button {
    background-color: black;
    border:none;
    color:white;
    font-size: 16px;
    padding: 15px 50px;
    font-weight: 700;
    letter-spacing: 0.07em;
}

button:hover {
    box-shadow: 4px 5px 0 0 #b5c1be;
}

/* footer stinky */

footer {
    padding:0px;
    margin:0px;
}
.footer {
    background-color: #ebf0ef;
    text-align: center;
    padding: 25px 0px 20px;
}

.footer p {
    font-weight:500;
    margin:0px;
}

.footer p.spacer {
    margin-bottom: 15px;
    font-size:15px;
    font-weight: 400;
}

.footer h4 {
    margin:0px;
    font-size: large;
}
